.boardLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 1.5rem;
    background-color: #F7F6F0;
    padding: 1.5rem;
    margin: 2rem 0;
}

.boardLayout .label {
    text-transform: uppercase;
    text-align: center;
    color: #0E00A6;
    border-bottom: 1px solid #000;
}