:root {
  --backgroundColor: #282C34;
  --chillyBlue: #61DAFB;
  --white: #FFF;
}

body {
  background-color: var(--backgroundColor);
  font-size: 1rem;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MotionPersonalUseBold";
  src: local("MotionPersonalUseBold"),
   url("./assets/fonts/MotionPersonalUseBold.ttf") format("truetype");
  font-weight: bold;
}